<!Doctype html>
<html lang="en">
<head>
    <title>Evaluations</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/Scripts/application.js" defer></script>
    <script type="text/javascript" src="/Scripts/network.js" defer></script>
    <script type="text/javascript" src="/Scripts/Pages/evaluation.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
</head>
<body onload="init()">
<header>
    Logged in as <span data="AuthorizedUser.Name"></span>
    (<span data="AuthorizedUser.Identifier"></span>) -
    <span link="AuthorizedUser"><button>Homepage</button></span>
    <a href="/Logout"><button>Logout</button></a>
</header>
<h1>Group 1 | Assignment 1</h1>
<div class="box">
    <h2>Group Details</h2>
    <table>
        <tr>
            <td>Group:</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Members:</td>
            <td>Carolina Faria<br>Kian Schmalenbach</td>
        </tr>
        <tr>
            <td>Lesson:</td>
            <td>1 (Sarah Miller)</td>
        </tr>
    </table>
</div>
<div class="box">
    <h2>Temporary Scores for Sheet 1</h2>
    <p class="note">You cannot make changes yet because the tutor has not set the scores as final.</p>
    <table class="centerTable">
        <tr>
            <th>Task</th>
            <th>Score</th>
            <th>Max. Score</th>
        </tr>
        <tr>
            <td>Task 1</td>
            <td>5</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Task 2</td>
            <td>4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Task 3</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </table>
</div>
</body>
</html>
