<!Doctype html>
<html lang="en">
<head>
    <title>Users</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/Scripts/application.js" defer></script>
    <script type="text/javascript" src="/Scripts/network.js" defer></script>
    <script type="text/javascript" src="/Scripts/Pages/user.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
</head>
<body onload="init()">
<header>
    Logged in as <span data="AuthorizedUser.Name"></span>
    (<span data="AuthorizedUser.Identifier"></span>) -
    <a href="/Logout"><button>Logout</button></a>
</header>
<h1>EasyGradeManager</h1>
<div class="box">
    <h2>My Profile
        <button>Edit</button>
    </h2>
    <table>
        <tr>
            <td>Name:</td>
            <td data="Name"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td data="Email"></td>
        </tr>
        <tr>
            <td>User ID:</td>
            <td data="Identifier"></td>
        </tr>
    </table>
</div>
<div id="TeacherBox" class="box">
    <h2>My Taught Classes</h2>
    <div datalist="Role" filter="Role.Name=Teacher" removeOnEmpty="TeacherBox">
        <h3>Current Term</h3>
        <div id="CurrentTaughtCourses">
            <ul>
                <li datalist="Role.Course" filter="Role.Course.Archived=false" removeonempty="CurrentTaughtCourses">
                    <span data="Role.Course.Name" link="Role.Course"></span>
                    (<span data="Role.Course.Term"></span>)
                </li>
            </ul>
        </div>
        <div data="NewCourse">
            <input data="NewCourse.Name" type="text" placeholder="Course Name">
            <button task="NewCourse.Add">Add Course</button>
        </div>
        <div id="PreviousTaughtCourses">
            <h3>Previous Terms</h3>
            <ul>
                <li datalist="Role.Course" order="Role.Course.Term DESC" filter="Role.Course.Archived=true"
                    removeonempty="PreviousTaughtCourses">
                    <span data="Role.Course.Name" link="Role.Course"></span>
                    (<span data="Role.Course.Term"></span>)
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="TutorBox" class="box">
    <h2>My Tutored Lessons</h2>
    <div datalist="Role" filter="Role.Name=Tutor" removeOnEmpty="TutorBox">
        <div id="CurrentTutoredCourses">
            <h3>Current Term</h3>
            <table class="centerTable">
                <tr>
                    <th>Course</th>
                    <th>Assignment</th>
                    <th>Lesson</th>
                    <th>Date</th>
                    <th>Term</th>
                </tr>
                <tr datalist="Role.Lesson" filter="Role.Lesson.Assignment.Course.Archived=false"
                    order="Role.Lesson.Assignment.Course.Name ASC" removeonempty="CurrentTutoredCourses">
                    <td data="Role.Lesson.Assignment.Course.Name" link="Role.Lesson.Assignment.Course"></td>
                    <td data="Role.Lesson.Assignment.Name" link="Role.Lesson.Assignment"></td>
                    <td link="Role.Lesson">Lesson <span data="Role.Lesson.Number"></span></td>
                    <td data="Role.Lesson.Date"></td>
                    <td data="Role.Lesson.Assignment.Course.Term"></td>
                </tr>
            </table>
        </div>
        <div id="PreviousTutoredCourses">
            <h3>Previous Terms</h3>
            <table class="centerTable">
                <tr>
                    <th>Lesson</th>
                    <th>Date</th>
                    <th>Assignment</th>
                    <th>Course</th>
                    <th>Term</th>
                </tr>
                <tr datalist="Role.Lesson" filter="Role.Lesson.Assignment.Course.Archived=true"
                    order="Role.Lesson.Assignment.Course.Name ASC" removeonempty="PreviousTutoredCourses">
                    <td data="Role.Lesson.Assignment.Course.Name" link="Role.Lesson.Assignment.Course"></td>
                    <td data="Role.Lesson.Assignment.Name" link="Role.Lesson.Assignment"></td>
                    <td link="Role.Lesson">Lesson <span data="Role.Lesson.Number"></span></td>
                    <td data="Role.Lesson.Date"></td>
                    <td data="Role.Lesson.Assignment.Course.Term"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="StudentBox" class="box">
    <h2>My Student Groups</h2>
    <div datalist="Role" filter="Role.Name=Student" removeOnEmpty="StudentBox">
        <div id="CurrentStudentGroups">
            <h3>Current Term</h3>
            <table class="centerTable">
                <tr>
                    <th>Course</th>
                    <th>Assignment</th>
                    <th>Group</th>
                    <th>Lesson</th>
                    <th>Tutor</th>
                    <th>Term</th>
                </tr>
                <tr datalist="Role.GroupMembership" filter="Role.GroupMembership.Group.Assignment.Course.Archived=false"
                    order="Role.GroupMembership.Group.Assignment.Course.Name ASC" removeonempty="CurrentStudentGroups">
                    <td data="Role.GroupMembership.Group.Assignment.Course.Name"
                        link="Role.GroupMembership.Group.Assignment.Course"></td>
                    <td data="Role.GroupMembership.Group.Assignment.Name"
                        link="Role.GroupMembership.Group.Assignment"></td>
                    <td link="Role.GroupMembership.Group">Group
                        <span data="Role.GroupMembership.Group.Number"></span>
                    </td>
                    <td link="Role.GroupMembership.Group.Lesson">Lesson <span data="Role.GroupMembership.Group.Lesson.Number"></span></td>
                    <td data="Role.GroupMembership.Group.Lesson.Tutor.User.Name"></td>
                    <td data="Role.GroupMembership.Group.Assignment.Course.Term"></td>
                </tr>
            </table>
        </div>
        <div id="PreviousStudentGroups">
            <h3>Previous Terms</h3>
            <table class="centerTable">
                <tr>
                    <th>Course</th>
                    <th>Assignment</th>
                    <th>Group</th>
                    <th>Lesson</th>
                    <th>Tutor</th>
                    <th>Term</th>
                </tr>
                <tr datalist="Role.GroupMembership" filter="Role.GroupMembership.Group.Assignment.Course.Archived=true"
                    order="Role.GroupMembership.Group.Assignment.Course.Name ASC" removeonempty="PreviousStudentGroups">
                    <td data="Role.GroupMembership.Group.Assignment.Course.Name"
                        link="Role.GroupMembership.Group.Assignment.Course"></td>
                    <td data="Role.GroupMembership.Group.Assignment.Name"
                        link="Role.GroupMembership.Group.Assignment"></td>
                    <td link="Role.GroupMembership.Group">Group
                        <span data="Role.GroupMembership.Group.Number"></span>
                    </td>
                    <td data="Role.GroupMembership.Group.Lesson.Number" link="Role.GroupMembership.Group.Lesson"></td>
                    <td data="Role.GroupMembership.Group.Lesson.Tutor.User.Name"></td>
                    <td data="Role.GroupMembership.Group.Assignment.Course.Term"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
