<!Doctype html>
<html lang="en">
<head>
    <title>Lessons</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/Scripts/application.js"></script>
    <script type="text/javascript" src="/Scripts/network.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
    <script type="text/javascript" defer>
        if (typeof entityId !== "undefined") {
            fetchData("/api/Lessons/" + entityId)
                .then(data => {
                    fillPageWithData(data);
                });
        }
    </script>
</head>
<body>
<header><span link="Assignment">Back to Assignment</span></header>
<h1>Lesson <span id="Number"></span></h1>
<div class="box">
    <h2>Lesson Details</h2>
    <table>
        <tr>
            <td>Assignment:</td>
            <td id="Assignment.Name" link="Assignment"></td>
        </tr>
        <tr>
            <td>Tutor:</td>
            <td id="Tutor.User.Name" link="Tutor.User"></td>
        </tr>
        <tr>
            <td>Dates:</td>
            <td id="Assignment.Dates"></td>
        </tr>
    </table>
</div>
<div class="box">
    <h2>Student Groups</h2>
    <table class="centerTable">
        <tr>
            <th>Number</th>
            <th>Password</th>
        </tr>
        <tr id="Group" order="Group.Number ASC">
            <td id="Group.Number"></td>
            <td id="Group.Password"></td>
        </tr>
    </table>
    <!-- ALTERNATIVE STRUCTURE TO TABLE:
    <ul>
        <li id="Group" order="Group.Number">
            <span id="Group.Number" link="Group"></span>: <span id="Group.Password"></span>
        </li>
    </ul>
    -->
</div>
</body>
</html>