<!Doctype html>
<html lang="en">
<head>
    <title>Lessons</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/Scripts/application.js" defer></script>
    <script type="text/javascript" src="/Scripts/network.js" defer></script>
    <script type="text/javascript" src="/Scripts/Pages/lesson.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
</head>
<body onload="init()">
<header>
    Logged in as <span data="AuthorizedUser.Name"></span>
    (<span data="AuthorizedUser.Identifier"></span>) -
    <span link="AuthorizedUser"><button>Homepage</button></span>
    <a href="/Logout">
        <button>Logout</button>
    </a>
</header>
<p class="buttonCenter">
    Course: <span data="Assignment.Course.Name" link="Assignment.Course"></span>
    (<span data="Assignment.Course.Term"></span>)
</p>
<h1>Lesson <span data="Number"></span></h1>
<div class="box">
    <h2>Lesson Details</h2>
    <table>
        <tr>
            <td>Assignment:</td>
            <td data="Assignment.Name" link="Assignment"></td>
        </tr>
        <tr>
            <td>Tutor:</td>
            <td data="Tutor.User.Name"></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td data="Date"></td>
        </tr>
    </table>
</div>
<div class="box" id="GroupBox">
    <h2>Student Groups</h2>
    <div datalist="Group" order="Group.Number ASC" removeonempty="GroupBox">
        <h3 link="Group">Group <span data="Group.Id"></span></h3>
        <ul>
            <li datalist="Group.GroupMembership">
                <span data="Group.GroupMembership.Student.User.Name"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
