<!Doctype html>
<html lang="en">
<head>
    <title>Assignments</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/Scripts/application.js" defer></script>
    <script type="text/javascript" src="/Scripts/network.js" defer></script>
    <script type="text/javascript" src="/Scripts/Pages/assignment.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
</head>
<body onload="init()">
<header>
    Logged in as <span data="AuthorizedUser.Name"></span>
    (<span data="AuthorizedUser.Identifier"></span>) -
    <span link="AuthorizedUser"><button>Homepage</button></span>
    <a href="/Logout"><button>Logout</button></a>
</header>
<p class="buttonCenter">Course: <span data="Course.Name" link="Course"></span> (<span data="Course.Term"></span>)</p>
<h1>Assignment "<span data="Name"></span>"</h1>
<div class="box">
    <h2>Assignment Details</h2>
    <table>
        <tr>
            <td>Number:</td>
            <td data="Number"></td>
        </tr>
        <tr>
            <td>Deadline:</td>
            <td data="Deadline"></td>
        </tr>
        <tr>
            <td>Min. required Score:</td>
            <td data="MinRequiredScore"></td>
        </tr>
        <tr>
            <td>Mandatory:</td>
            <td data="Mandatory"></td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td data="Weight"></td>
        </tr>
        <tr>
            <td>Group Size:</td>
            <td><span data="MinGroupSize"></span>-<span data="MaxGroupSize"></span></td>
        </tr>
    </table>
    <p>
        <button>Set Assignment Results as Final</button>
        <button task="Edit">Edit Assignment Details</button>
        <button task="Delete">Delete Assignment</button>
    </p>
</div>
<div class="box">
    <h2>Assignment Lessons</h2>
    <table class="centerTable" id="LessonTable">
        <tr>
            <th>Lesson</th>
            <th>Date</th>
            <th>Tutor</th>
            <th>Actions</th>
        </tr>
        <!-- ALSO POSSIBLE: order="Lesson.Tutor.User.Name DESC" -->
        <tr datalist="Lesson" order="Lesson.Number ASC" removeonempty="LessonTable">
            <td link="Lesson">Lesson <span data="Lesson.Number"></span></td>
            <td><span data="Lesson.Date"></span></td>
            <td><span data="Lesson.Tutor.User.Name"></span></td>
            <td>
                <button task="Lesson.Edit">Edit</button>
                <button task="Lesson.Delete">Delete</button>
            </td>
        </tr>
    </table>
    <div class="buttonCenter">
        <form data="NewLesson">
            <input size="12" placeholder="Lesson Number" data="NewLesson.Number">
            <input size="15" placeholder="Tutor" data="NewLesson.Tutor">
            <input size="20" placeholder="Date" data="NewLesson.Date">
            <button task="NewLesson.Add">Add Lesson</button>
        </form>
    </div>
</div>
<div class="box">
    <h2>Assignment Tasks</h2>
    <table class="centerTable" id="TaskTable">
        <tr>
            <th>Name</th>
            <th>Maximum Score</th>
            <th>Actions</th>
        </tr>
        <tr datalist="Task" order="Task.Number ASC" removeonempty="TaskTable">
            <td><span data="Task.Name"></span></td>
            <td><span data="Task.MaxScore"></span></td>
            <td>
                <button task="Task.Edit">Edit</button>
                <button task="Task.Delete">Delete</button>
            </td>
        </tr>
    </table>
    <div class="buttonCenter">
        <form data="NewTask">
            <input size="10" placeholder="Task Number" data="NewTask.Number">
            <input size="20" placeholder="Task Name" data="NewTask.Name">
            <input size="10" placeholder="Max. Score" data="NewTask.MaxScore">
            <button task="NewTask.Add">Add Task</button>
        </form>
    </div>
</div>
</body>
</html>
