<!Doctype html>
<html lang="en">
<head>
    <title>Courses</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/Scripts/application.js" defer></script>
    <script type="text/javascript" src="/Scripts/network.js" defer></script>
    <script type="text/javascript" src="/Scripts/Pages/course.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/Content/style-old.css">
</head>
<body onload="init()">
<header>
    Logged in as <span data="AuthorizedUser.Name"></span>
    (<span data="AuthorizedUser.Identifier"></span>) -
    <span link="AuthorizedUser"><button>Homepage</button></span>
    <a href="/Logout">
        <button>Logout</button>
    </a>
</header>
<h1>Course "<span data="Name" edit="false"></span>"</h1>
<p class="buttonCenter" data="Term" edit="false"></p>
<div class="box">
    <h2>Course Details</h2>
    <table>
        <tr mode="edit" scope="Course">
            <td>Name:</td>
            <td data="Name"></td>
        </tr>
        <tr mode="edit" scope="Course">
            <td>Term:</td>
            <td data="Term"></td>
        </tr>
        <tr>
            <td>Min. req. Assignments:</td>
            <td data="MinRequiredAssignments" type="number" min="0" step="1"></td>
        </tr>
        <tr>
            <td>Min. req. Score:</td>
            <td data="MinRequiredScore" type="number" min="0" step="any"></td>
        </tr>
        <tr>
            <td>Archived</td>
            <td data="Archived" type="checkbox"></td>
        </tr>
    </table>
    <p roles="Teacher">
        <button task="Edit">Edit Course Details</button>
        <button>Archive Course</button>
        <button task="Delete">Delete Course</button>
    </p>
</div>
<div class="box">
    <h2>Teacher Details</h2>
    <table>
        <tr>
            <td>User ID:</td>
            <td data="Teacher.Identifier"></td>
        </tr>
        <tr class="big">
            <td>Name:</td>
            <td data="Teacher.Name"></td>
        </tr>
    </table>
</div>
<div class="box">
    <h2>Course Assignments</h2>
    <table class="centerTable" id="AssignmentTable">
        <tr>
            <th>Name</th>
            <th>Deadline</th>
            <th>Final</th>
            <th>Min. Required Score</th>
            <th>Mandatory</th>
            <th>Weight</th>
            <th>Group Size</th>
            <th roles="Teacher">Actions</th>
        </tr>
        <tr datalist="Assignment" order="Assignment.Number ASC" removeonempty="AssignmentTable">
            <td><span data="Assignment.Name" link="Assignment"></span></td>
            <td><span data="Assignment.Deadline" type="date"></span></td>
            <td><span data="Assignment.IsFinal" type="checkbox"></span></td>
            <td><span data="Assignment.MinRequiredScore" type="number" min="0" step="any"></span></td>
            <td><span data="Assignment.Mandatory" type="checkbox"></span></td>
            <td><span data="Assignment.Weight" type="number" min="0" max="1" step="any"></span></td>
            <td>
                <span data="Assignment.MinGroupSize" type="number" min="1">
                </span>-<span data="Assignment.MaxGroupSize" type="number" min="1"></span>
            </td>
            <td roles="Teacher">
                <button task="Assignment.Edit">Edit</button>
                <button task="Assignment.Delete">Delete</button>
            </td>
        </tr>
    </table>
    <div class="buttonCenter" roles="Teacher">
        <input type="text" data="NewAssignment.Name" placeholder="Assignment Name">
        <input type="checkbox"> Derive from
        <select>
            <option>Sheet 1</option>
            <option>Exam</option>
        </select>
        <input type="checkbox"> copy groups
        and include <input type="text" size="1" placeholder="0"> days offset
        <button task="NewAssignment.Add">Add Assignment</button>
    </div>
</div>
<div class="box">
    <h2>Grading Scheme: <span data="GradingScheme.Name"></span></h2>
    <table class="centerTable" id="GradingSchemeTable">
        <tr>
            <th>Grade</th>
            <td datalist="GradingScheme.Grade" order="GradingScheme.Grade.MinPercentage DESC"
                removeonempty="GradingSchemeTable">
                <span data="GradingScheme.Grade.Name"></span>
            </td>
        </tr>
        <tr>
            <th>Required Percentage</th>
            <td datalist="GradingScheme.Grade" order="GradingScheme.Grade.MinPercentage DESC">
                <span data="GradingScheme.Grade.MinPercentage"></span>
            </td>
        </tr>
    </table>
    <p class="buttonCenter" roles="Teacher">
        <button task="GradingScheme.Edit">Edit Grading Scheme</button>
    </p>
</div>
</body>
</html>
