<!Doctype html>
<html lang="en">
<head>
    <title>EasyGradeManager</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/Scripts/application.js" defer></script>
    <script type="text/javascript" src="/Scripts/network.js" defer></script>
    <script type="text/javascript" src="/Scripts/Pages/home.js" defer></script>
    <script type="text/javascript" src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body onload="init()">
    <header id="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a link="AuthorizedUser" class="navbar-brand">Homepage</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data="AuthorizedUser.Name"></span>
                                (<span data="AuthorizedUser.Identifier"></span>)
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 mt-2 mb-5">
                <h1 class="font-weight-bold">EasyGradeManager</h1>
                <p class="text-center">Authentication is required to continue</p>
            </div>
            <div class="col-md-12 col-lg-6">
                <h4>User Login</h4>
                <p class="font-italic">Please log in below:</p>
                <form class="form-row" onsubmit="return login()">
                    <label class="control-label" for="identifier">Identifier</label>
                    <input class="form-control" id="identifier" type="text" autofocus required>
                    <label class="control-label" for="password">Password</label>
                    <input class="form-control" id="password" type="password" required>
                    <input class="btn btn-default mx-auto" type="submit" value="Login">
                </form>
                <p class="font-italic" id="Login.status"></p>
            </div>
            <div class="col-md-12 col-lg-6">
                <h4>User Registration</h4>
                <p class="font-italic">Alternatively, you can create a new user account:</p>
                <div class="form-row">
                    <label class="control-label" for="NewIdentifier">Identifier</label>
                    <input id="NewIdentifier" class="form-control" data="NewUser.Identifier" type="text" required>
                    <label class="control-label" for="NewName">Name</label>
                    <input id="NewName" class="form-control" data="NewUser.Name" type="text" required>
                    <label class="control-label" for="NewEmail">Email</label>
                    <input id="NewEmail" class="form-control" data="NewUser.Email" type="text" required>
                    <label class="control-label" for="NewPassword">Password</label>
                    <input id="NewPassword" class="form-control" data="NewUser.NewPassword" type="password" required>
                    <input data="NewUser.NewRole" value="Student" type="hidden" required>
                    <button class="btn btn-default mx-auto" task="NewUser.Add">Register</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
