<!Doctype html>
<html>
<head>
    <title>EasyGradeManager</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/Scripts/application.js"></script>
    <script type="text/javascript" src="/Scripts/network.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
    <script type="text/javascript" defer>
        if (typeof entityId !== "undefined") {
            fetchData("/api/Home/" + entityId)
                .then(data => {
                    fillPageWithData(data);
                });
        }
    </script>
</head>
<body>
<h1>Welcome to EasyGradeManager!</h1>
<div class="box">
    <h2>Demo Login</h2>
    <p class="buttonCenter">
        Please log in as...<br>
        <a href="/Users/1">Teacher</a><br>
        <a href="/Users/2">Tutor</a><br>
        <a href="/Users/3">Student</a>
    </p>
</div>
</body>
</html>